body{
    text-align: center;  
    background-image:linear-gradient(to right, rgba(167, 175, 175, 0), rgb(84, 152, 161));
    /* 'bg-gradient-to-r from-emerald-400 to-cyan-400' */
}

h1{
    text-align: center;
}

input{
    background-color: rgb(160, 154, 228);
    border-radius: 15px;
    width: 13rem;
    display: block;
    margin: 0 auto;
    padding: 10px 100px 0 0;

}

#searchShows{
    padding: 0 5px ;
}

form{
    justify-content: center;
}

label{
    display:flex;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: large;
    justify-content: center;
}

button{
    margin: 10px;
    background-color: rgb(44, 138, 166);
    color: white;
    font-size: medium;
    padding: 5px;
}


.show-list,.people-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
    flex-basis: content;
}

.show,.person{
    padding: 1em;
}

